/* file css*/

/* memberikan pengaturan desain pada nav bar */
body {
    margin: 0;
    font-family: "Lato", sans-serif;
  }  
  .sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
  .sidebar a.active {
    background-color: #04AA6D;
    color: white;
  }
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  /* Pengaturan logo */
  .main-logo {
    height: 50px;
    width: 50px;
    background-image: url(https://mir-s3-cdn-cf.behance.net/projects/404/a64093101703087.Y3JvcCw1OTA2LDQ2MTksMCw2NDM.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    border-radius: 50%;}
    

  /* Pengaturan ukuran fleksibel tergantung pada layar */
  /* kalau layar besar dia melebar */
  @media screen and (max-width: 4000px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}

    .main-logo {
        flex-direction: column;
       }
  }
  
  /* Kalau layar kecil stack atau menyesuaikan */
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
     .main-logo {
     flex-direction: column;
    }
    .banner-img {flex-shrink: unset;}

  }

/* pengaturan banner */
.banner-img {
background-position: center;
background-size: cover;
height: 400px;
width: 100%;
}
.banner-1 {
 background-image:url(https://c4.wallpaperflare.com/wallpaper/108/704/1021/pokemon-charizard-anime-wallpaper-preview.jpg)
}
.banner-2 {
background-image: url(https://c4.wallpaperflare.com/wallpaper/142/751/831/landscape-anime-digital-art-fantasy-art-wallpaper-preview.jpg)
}
.banner-3 {
background-image: url(https://wallpapershome.com/images/pages/pic_h/9970.jpg)
}

/* pengaturan profile */
.profile-content {
    border: none;
    height: 500px;
    align-content: center;
    text-align: center;
    background-color: aquas;
}
/* pengaturan achievement */
.achievement-content {
    border:none;
    height: 500px;
    width: 100%;
    align-content: center;
    text-align: center;
}
/* pengaturan message */
.message-me-content {
    border: none;
    height: 500px;
    align-content: center;
    text-align: center;
}

footer {
    text-align: center;}
